<!-- app/views/prof_landing/landing.html.erb -->
<h1>Welcome, Professor!</h1>

<div class="buttons">
  <a href="#" class="btn btn-primary">View Results</a>
  <a href="#" class="btn btn-success">Add Projects</a>
  <a href="#" class="btn btn-danger">Remove Projects</a>
</div>

